# Sistem dosyaları
.DS_Store
Thumbs.db
desktop.ini
*.log

# Geçici dosyalar
*.tmp
*.bak
*.swp
*~

# Fish shell
fish/.local/share/fish/fish_history
fish/.local/share/fish/generated_completions/
fish/.local/share/fish/fishd.*
fish/.config/fish/fishd.tmp.*
fish/.config/fish/alias.fish
fish/.config/fish/completions/assh.fish
fish/.config/fish/functions/assh.fish
fish/.config/fish/functions/cfg.fish
fish/.config/fish/functions/history_cleaner.fish
fish/.config/fish/functions/ssb.fish
fish/.local

# Zsh
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions

# Mpv
mpv/.config/mpv/watch_later/
mpv/.config/mpv/mpvBookmark.log
mpv/.config/mpv/mpvHistory.log

# Ranger
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks
ranger/.config/ranger/tagged

# Neovim
nvim/.config/nvim/autoload/plug.vim
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugged/
nvim/.config/nvim/undo/
nvim/.config/nvim/swap/

# Ncmpcpp
ncmpcpp/.config/ncmpcpp/lyrics
ncmpcpp/.config/ncmpcpp/error.log

# Özel scriptler (sadece wofi scriptleri dahil)
bin/.bin/*
!bin/.bin/wofi-*
!bin/.bin/waybar-*
!bin/.bin/hypr-*
!bin/.bin/starship-switch.sh
!bin/.bin/theme-*
!bin/.bin/font*
!bin/.bin/gnome-*
!bin/.bin/semsumo*
!bin/.bin/dotfiles-manager.sh
!bin/.bin/t1
!bin/.bin/t2
!bin/.bin/t3
!bin/.bin/t4
!bin/.bin/tm
!bin/.bin/tmux*
!bin/.bin/todo
!bin/.bin/transmission*
!bin/.bin/tsm.sh
!bin/.bin/turbo*
!bin/.bin/zen*
!bin/.bin/wlsunset-toggle.sh

# Terminal geçmişi ve cache
.bash_history
.zsh_history
.python_history
.cache/
*.cache

# Alacritty ve Kitty yedekleri
alacritty/.config/alacritty/*.bak
kitty/.config/kitty/*.bak

# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Touchegg
touchegg/.config/touchegg/.touchegg*

# Tmux
oh-my-tmux/.config/oh-my-tmux/.git*
tmux/.config/tmux/fzf
tmux/.config/tmux/plugins
