[Unit]
Description=Hyprland Wayland Session
Documentation=man:Hyprland(1)
# Hedefler ve bağımlılıklar
Wants=graphical-session-pre.target
After=graphical-session-pre.target
# Çakışmaları önle
Conflicts=getty@tty1.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.config/hypr/start/hyprland.sh
Restart=no
NotifyAccess=all
# Güvenlik ayarları
PrivateTmp=true
NoNewPrivileges=true
# Ortam değişkenleri
Environment=XDG_CURRENT_DESKTOP=Hyprland
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_SESSION_DESKTOP=Hyprland

[Install]
WantedBy=default.target
Alias=hyprland-session.service
